---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="container max-w-long-prose py-[5vh] text-center">
    <h2 class="mb-10">Boop Society Membership</h2>
    <p class="mb-20 text-left">
      If you enjoy our events, and are thinking "How can I be more involved,"
      this page should provide all the information that you might need in your
      journey to get more involved in our group.
      <br />
      <br />
      Membership currently costs $25 a year, and runs from November 1st of the year
      to October 31st of the following year.
    </p>

    <h2 class="mb-10">Benefits of Membership</h2>
    <p class="mb-20 text-left">
      Membership with the Boop Society of Central Texas includes:
      <br />
      <br />
      <br />
      <br />
      - A membership card and enamel pin to show your membership for the year.
      <br />
      <br />
      - Discounts with the local businesses of Sir Rat Leather and Gear, and the
      Knead It Now Kitchen.
      <br />
      <br />
      - Insight to the Board Member's meetings by receiving the monthly minutes to
      see the agenda for the following month, and to voice your opinions on the direction
      the organization is taking. There are organization wide votes that you get
      to participate in as well.
      <br />
      <br />
      - Discounts to yearly events sponsored by us such as the Austin Rubber Roundup,
      A Formal [Fetish] Affair, and others that may come up.
      <br />
      <br />
      - First alerts to any volunteering opportunities that may come up for events
      hosted by us, or commitments with other organizations we workshops with in
      the area.
    </p>

    <h2 class="mb-10">Membership Eligibility</h2>
    <p class="mb-20 text-left">
      In order to be eligible for our membership there are 4 things you follow:
      <br />
      <br />
      <br />
      <br />
      1. Follow the rules of membership available in our resources tab underline
      the Boop Policies folder. These are not limited to just our events for as a
      member of our organization you represent us at all times.
      <br />
      <br />
      <a
        href="https://docs.google.com/document/d/1V8NVGErOp5k-_rEvV11zaNgNxfCZzSf1n4Pd1Vd01P8/edit?usp=drive_link"
      >
        Click Here for Membership Rules Documentation
      </a>
      <br />
      <br />
      2. An annual membership fee of $25 must be paid
      <br />
      <br />
      3. You must attend 3 Boop Society of Central Texas hosted events in a quarter
      and talk to at least 1 officer at each stating your intent to join.
      <br />
      <br />
      4. Volunteer at least 1 time at Boop Society of Central Texas hosted events
      by coming early to help set up or staying late to help clean up (and letting
      an officer know you're doing so).
    </p>

    <h2 class="mb-10">Membership Application</h2>
    <p class="mb-20 text-left">
      Membership applications are expected to open for 2025 from Oct 2024 to Jan
      2025. Keep an eye out for the update.
      <br />
      <br />
      <br />
      <br />
      Information needed for this application will be:
      <br />
      <br />
      - Your Legal Name
      <br />
      - Your Scene Name
      <br />
      - Your Date of Birth
      <br />
      - Your preferred phone number
      <br />
      - Your preferred E-mail
      <br />
      - Any social media handles as member of the community
    </p>
  </main>
</Layout>
