---
import "@fontsource/teko";
import { SEO } from "astro-seo";
import { NavBar } from "../components/navbar";
import og from "../images/og.jpg";
import "../styles/base.css";

const ogUrl = new URL(og.src, Astro.site).toString();
---

<html lang="en" class="dark" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      titleDefault="Boop Society of CTX"
      titleTemplate="%s - Boop Society CTX"
      description={Astro.props.description ??
        "A Texas nonprofit corporation assisting pet players around the central Texas region come together and organize community events."}
      openGraph={{
        basic: {
          title: "Boop Society of Central Texas",
          type: "website",
          image: ogUrl,
        },
        optional: {
          siteName: "Boop Society of Central Texas",
          locale: "en_US",
        },
        image: {
          type: `image/${og.format}`,
          width: og.width,
          height: og.height,
          alt: "Boop Society of CTX Logo",
        },
      }}
      twitter={{
        site: "@boopsocietyctx",
        card: "summary_large_image",
        title: "Boop Society of Central Texas",
        description:
          "A Texas nonprofit corporation assisting pet players around the central Texas region come together and organize community events.",
        image: ogUrl,
        imageAlt: "Boop Society of Central Texas Logo",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "icon", href: "/favicon-32.png", type: "image/png" },
          { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
          { rel: "manifest", href: "/manifest.webmanifest" },
        ],
      }}
    />
  </head>
  <body class="dark:text-white">
    <div class="container max-w-container">
      <NavBar client:load />
      <slot />
      <footer></footer>
    </div>
  </body>
</html>
