---
import "@fontsource/teko";
import { SEO } from "astro-seo";
import { NavBar } from "../components/navbar";
import hero from "../images/boop-hero.png";
import "../styles/base.css";
---

<html lang="en" class="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      titleDefault="Home"
      titleTemplate="%s - Boop Society CTX"
      description={Astro.props.description ??
        "A Texas nonprofit corporation assisting pet players around the central Texas region come together and organize community events."}
      openGraph={{
        basic: {
          title: "Boop Society of Central Texas",
          type: "website",
          image: hero.src,
        },
        optional: {
          siteName: "Boop Society CTX",
        },
        image: {
          type: `image/${hero.format}`,
          width: hero.width,
          height: hero.height,
          alt: "Boop Society of CTX Logo",
        },
      }}
      twitter={{
        site: "@boopsocietyctx",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "icon", href: "/favicon-32.png", type: "image/png" },
          { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
          { rel: "manifest", href: "/manifest.webmanifest" },
        ],
      }}
    />
  </head>
  <body class="dark:text-white">
    <div class="container max-w-container">
      <NavBar client:load />
      <slot />
      <footer></footer>
    </div>
  </body>
</html>
